.center {
    text-align: center;
}

/*PLANETS*/

.planet_page_general {
    padding-left: 15px;
}

.planet_data {
    padding-top: 15px;
}

.main {
    max-width: 500px;
    margin: auto;
}

/*Observations CSS*/

.data_table {
    max-width: 700px;
}

.data_header {
    padding-top: 15px;
    font-weight: bold;
}

.data_tr {
    border: 1px solid darkgrey;
    padding: 6px;
}

/*ERROR*/

.center_error {
    justify-content: center;
    display: flex;
}
