<html>
<head>
    <meta charset="UTF-8">
    <title th:text="#{error404}"></title>
    <link rel="stylesheet" href="/css/general_style.css" th:ref="@{/css/general_style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div>
            <h1 th:text="#{error404}" class="center_error"></h1>
            <h2 th:text="#{error404.message}" class="center_error"></h2>
        </div>
    </div>
    <div class="center_error col-md-12">
        <a href="/" th:text="#{index.page}" class="center_error"></a>
        <img src="../static/img/29496-squirrel-with-acorn-cartoon.png" alt="Sciurus" width="600"
             height="600" th:src="@{img/29496-squirrel-with-acorn-cartoon.png}"/>
    </div>
</body>
</html>
