<html>
<head>
    <title>Avaleht</title>
    <link rel="stylesheet" href="/css/general_style.css" th:href="@{/css/general_style.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" th:text="#{main.name}"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Avaleht</a></li>
            <li><a href="/planets" th:text="#{planets}"></a></li>
            <li><a href="/observation_info" th:text="#{observations}"></a></li>
            <li><a href="/">Page 3</a></li>
        </ul>
    </div>
</nav>

<form class="form main" action="#" th:action="@{/}" th:object="${observationDTO}" method="post">

    <!-- OBSERVATION START -->
    <div class="form-group">
        <label for="obsStartDate" th:text="#{observation.start.date}"></label>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <input class="form-control" type="date" th:field="*{obsStartDate}" id="obsStartDate"
               th:placeholder="#{observation.start.date}">
        <!--suppress ThymeleafVariablesResolveInspection -->
        <div class="alert alert-warning" th:if="${#fields.hasErrors('obsStartDate')}" th:errors="*{obsStartDate}"></div>
    </div>
    <div class="form-group">
        <label for="obsStartTime" th:text="#{observation.start.time}"></label>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <input class="form-control" type="time" th:field="*{obsStartTime}" id="obsStartTime"
               th:placeholder="#{observation.start.time}">
        <!--suppress ThymeleafVariablesResolveInspection -->
        <div class="alert alert-warning" th:if="${#fields.hasErrors('obsStartTime')}" th:errors="*{obsStartTime}"></div>
    </div>

    <!-- OBSERVATION END -->
    <div class="form-group">
        <label for="obsEndDate" th:text="#{observation.end.date}"></label>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <input class="form-control" type="date" th:field="*{obsEndDate}" id="obsEndDate"
               th:placeholder="#{observation.end.date}">
        <!--suppress ThymeleafVariablesResolveInspection -->
        <div class="alert alert-warning" th:if="${#fields.hasErrors('obsEndDate')}" th:errors="*{obsEndDate}"></div>
    </div>
    <div class="form-group">
        <label for="obsEndTime" th:text="#{observation.end.time}"></label>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <input class="form-control" type="time" th:field="*{obsEndTime}" id="obsEndTime"
               th:placeholder="#{observation.end.time}">
        <!--suppress ThymeleafVariablesResolveInspection -->
        <div class="alert alert-warning" th:if="${#fields.hasErrors('obsEndTime')}" th:errors="*{obsEndTime}"></div>
    </div>

    <!-- OBSERVATION TARGET -->
    <div class="form-group">
        <label for="obsTarget" th:text="#{observation.target}"></label>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <input class="form-control" type="text" th:field="*{obsTarget}" id="obsTarget"
               placeholder="observation method" th:placeholder="#{observation.target}">
        <!--suppress ThymeleafVariablesResolveInspection -->
        <div class="alert alert-warning" th:if="${#fields.hasErrors('obsTarget')}"
             th:errors="*{obsTarget}"></div>
    </div>

    <!-- OBSERVATION METHOD -->
    <div class="form-group">
        <label for="obsMethod" th:text="#{observation.method}"></label>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <input class="form-control" type="text" th:field="*{obsMethod}" id="obsMethod"
               th:placeholder="#{observation.method}">
        <!--suppress ThymeleafVariablesResolveInspection -->
        <div class="alert alert-warning" th:if="${#fields.hasErrors('obsMethod')}"
             th:errors="*{obsMethod}"></div>
    </div>

    <!-- OBSERVATION DETAILS -->
    <div class="form-group">
        <label for="obsDetails" th:text="#{observation.details}"></label>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <input class="form-control" type="text" th:field="*{obsDetails}" id="obsDetails"
               th:placeholder="#{observation.details}">
        <!--suppress ThymeleafVariablesResolveInspection -->
        <div class="alert alert-warning" th:if="${#fields.hasErrors('obsDetails')}"
             th:errors="*{obsDetails}"></div>
    </div>
    <button type="submit" th:text="#{save.button}" class="btn btn-success"></button>
</form>

</body>
</html>
